.container {
  max-width: 1260px;
  padding: 0 24px;
  margin: auto;

  @media screen and (min-width: 768px) {
    padding: 0 30px;
  }

  @media screen and (min-width: 992px) {
    padding: 0 40px;
  }

  @media screen and (min-width: 1200px) {
    padding: 0 120px;
  }
}

.main {
  background: var(--color-primary-light);
  padding: 40px 0;

  @media screen and (min-width: 768px) {
    padding: 60px 0;
  }
}