.category {
  &:not(:last-child) {
    margin-bottom: 64px;
  }

  &__photos {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    gap: 3%;
  }

  &__photo-wide {
    width: 65%;
  }

  &__photo-square {
    width: 32%;
  }

  &__title {
    margin: 0;
  }
}