.product {
  max-width: 324px;
  margin: auto;

  @media screen and (min-width: $bp-tablet) {
    max-width: 100%;
    flex-basis: 324px;
  }

  &__photo {
    width: 100%;
    margin-bottom: 32px;
  }

  &__title {
    font-size: 16px;
    line-height: 1.4;
    margin: 0 0 8px;
  }

  &__category {
    margin: 0 0 12px;
  }

  &__price {
    font-weight: 700;
    margin: 0;
  }
}