.header {
  background-image: url(../images/header-bg-mb.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: $bp-tablet) {
    background-image: url(../images/header-bg.png);
  }

  &__container {
    display: flex;
    height: 700px;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 34px;
    padding-bottom: 44px;

    @media screen and (min-width: $bp-middle) {
      height: 100vh;
      padding-top: 64px;
      padding-bottom: 64px;
    }

    @media screen and (min-width: $bp-large) {
      height: 1098px;
    }
  }

  &__title {
    font-size: 34px;
    font-style: italic;
    font-weight: 800;
    line-height: 1;
    letter-spacing: -1.5px;
    margin: 10px 0 0;

    @media screen and (min-width: $bp-tablet) {
      font-size: 40px;
      margin: 40px 0 0;
    }

    @media screen and (min-width: $bp-middle) {
      font-size: 48px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__btn-icon {
    width: 24px;
    height: 24px;
    background-image: url(../images/icons/icon-burger-menu.svg);

    &:hover {
      background-image: url(../images/icons/icon-burger-menu-hover.svg);
    }
  }
}