.how-to-buy {
  &__container {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 24px;
    }
  }

  &__title {
    text-align: center;

    @media screen and (min-width: 768px) {
      text-align: left;
      flex-basis: 50%;
    }
  }

  &__content {
    flex-basis: 50%;
  }

  &__benefits {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin: 0 0 40px;
    gap: 16px;
  }
}