.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: var(--color-secondary-light);
  padding: 34px 0;
  transform: translateX(-100%);
  transition: transform 0.5s;

  @media screen and (min-width: 768px) {
    padding: 64px 0;
  }

  &__container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    gap: 64px;
  }

  &:target {
    transform: translateX(0%);
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .nav__link {
    position: relative;
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
    color: var(--color-primary-dark);
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .nav__link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--color-primary-dark);
    transition: width 0.3s ease-out;
  }

  .nav__link:hover:after,
  .nav__link:focus:after {
    width: 100%;
  }
}