.recommended {
  &__title {
    text-align: center;
  }

  &__products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}