.section {
  padding: 40px 0;

  @media screen and (min-width: $bp-tablet) {
    padding: 60px 0;
  }

  &__title {
    font-size: 34px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1.5px;
    margin: 0 0 64px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 40px;
    }

    @media screen and (min-width: $bp-middle) {
      font-size: 48px;
    }
  }
}